.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 75px);
    row-gap: 20px;
    column-gap: 10px;
}
.date, .day{
    background-color: cadetblue;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.other-month{
    background-color: lightgray;
}
.day{
    background-color: rgb(126, 60, 188);
    color: #FFF;
}